//   {
//   display: none;
// }

// 1255px
@media (max-width: 1255px) {
  .info {
    &::after {
      right: 0;
    }
  }

  .blog {
    &__items {
      &::after {
        right: 0;
      }
    }

  }
}

// 1230px
@media (max-width: 1230px) {
  .page-404 {
    &__img {
      width: 40%;
    }
  }

  .person,
  .latest-post {
    display: none;
  }

  .blog-page {

    .filter-category,
    .filter-popular {
      display: none;
    }

    &__inner {
      flex-direction: column;
    }

    &__content {
      max-width: 100%;
      margin-right: 0;
    }

    &__aside {
      width: 100%;
      order: -1;
    }

    &__img {
      max-width: 100%;
      width: 100%;
    }
  }

  .filter-search {
    &__input {
      width: 100%;
    }

  }

  .product-slide {
    &__thumb {
      display: none;
    }
  }

  .product-one {
    &__slide {
      width: auto;
      margin-right: 0;
    }
  }

}

// 1200px
@media (max-width: 1200px) {
  .header {
    &__inner {
      padding-right: 10px;
    }
  }

  .top-slider {
    &__content {
      padding-top: 40px;
      padding-left: 15px;
    }

    &__img {
      width: 40%;
      object-fit: contain;
    }
  }

  .info {
    &__item {
      width: 340px;
      padding: 20px 20px;
    }
  }

  .blog {
    &__items {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__item-box {
      padding: 20px 15px;
    }
  }

  .shop {
    &__inner {
      display: block;
    }

    &__filters {
      width: 100%;
      margin-right: 0;
      display: none;
      position: static;
      top: 20px;
      left: 0;
      z-index: 100;
      background-color: #fff;
    }

    &__filter-btn {
      display: block;
      background-color: $accent;
      border: none;
      padding: 0;
      width: 60px;
      height: 60px;
      position: fixed;
      right: 0;
      z-index: 105;
      bottom: 50px;
      border-radius: 50%;

      img {
        margin: 0 auto;
      }
    }
  }

  .shop-content {
    &__inner {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__nogrid {
      display: flex;
    }
  }
}

// 1120px
@media (max-width: 1120px) {
  .contact {
    &__inner {
      display: block;
    }

    &__info {
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 30px;
    }

    &__form {
      box-shadow: none;
    }
  }
}

// 1100px
@media (max-width: 1100px) {
  .info {
    display: block;

    &__item {
      width: 100%;
      margin-bottom: 20px;
    }

    &__item-title {
      margin: 20px 0 10px;
    }
  }

  .categories {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    &__item {
      background-position: center top;

      &:nth-child(1) {
        grid-row: auto;
      }

      &:nth-child(2) {
        grid-column: auto;
        background-position: center right;
      }
    }
  }
}

// 1050px
@media (max-width: 1050px) {
  .top-slider {
    &__item {
      .top-slider__img {
        display: none;
      }
    }

    .slick-dots {
      margin-top: 0;
    }

    &__content {
      padding-bottom: 50px;
      padding-top: 0;
    }
  }

  .video-fashion {
    &__inner {
      display: block;
    }

    &__popup {
      max-width: 100%;
      background-position: center top;
    }

    &__content {
      max-width: 100%;
    }
  }

  .product-item {
    &__img-box {
      height: 305px;
    }
  }

  .blog {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .product-one {
    &__inner {
      display: block;
    }

    &__content {
      width: 100%;
      margin-top: 35px;
    }
  }

  .product-slide {
    &__big {
      width: 100%;

      img {
        width: auto;
        margin: 0 auto;
      }
    }
  }

  .footer-top {
    flex-wrap: wrap;

    &__item-form {
      max-width: 100%;
      margin-top: 30px;
    }
  }
}

// 992px
@media (max-width: 992px) {
  .page-404__img {
    display: none;
  }
}

// 860px
@media (max-width: 860px) {
  .menu {
    order: 1;
    margin-left: 40px;

    &__list {
      transform: translateY(-200%);
      position: absolute;
      top: 120px;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all .3s;
      background-color: #fff;

      &.menu__list--active {
        transform: translateY(0);
      }
    }

    &__list-item+.menu__list-item {
      padding-left: 15px;
      transition: all .3s;
    }

    &__list-item {
      width: 100%;
      padding: 0 15px;
      text-align: center;
    }

    &__list-link {
      padding: 12px 0;
      display: block;
    }

    &__btn {
      display: block;
      width: 45px;
      height: 45px;
      border: none;
      background-color: transparent;
    }
  }

  .user-nav {
    margin-left: auto;
  }

  .product {
    &__items {
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .promo {
    padding: 60px 0;
  }

  .shop-content {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .related {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
  }

  .footer-top {
    &__contact {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

// 800px
@media (max-width: 800px) {
  .map {
    padding: 60px 0;
  }

  .contact {
    &__form {
      padding: 0;
    }

    &__form-box {
      display: block;

      input {
        width: 100%;
      }
    }
  }
}

// 768px
@media (max-width: 768px) {
  .categories {
    &__items {
      min-height: 385px;
    }

    &__item {
      background-image: none !important;
      justify-content: center;
      padding-left: 15px;
      padding-top: 0;
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        background-color: #f4dff0;
      }

      &:nth-child(2) {
        background-color: #d7efef;
      }

      &:nth-child(3) {
        background-color: #fff6a7;
      }

      &:nth-child(4) {
        background-color: #ededed;
      }
    }
  }

  .blog {
    padding: 60px 0;

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .comments-form {
    &__box-input {
      display: block;
      margin-bottom: 0;
    }

    &__label {
      display: block;
      margin-right: 0;
    }

    &__text-input {
      max-width: 100%;
      margin-bottom: 30px;
    }

    &__rating-title {
      display: block;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}

// 700px
@media (max-width: 700px) {

  .shop-content {
    &__filter-buttons {
      // display: none;
    }

    &__filter {
      // padding: 20px 25px 20px 0;
    }
  }
}

// 620px
@media (max-width: 620px) {
  .top-slider {
    padding: 45px 0 30px;

    &__title {
      font-size: 44px;
      line-height: 52px;
      margin-bottom: 25px;
    }
  }

  .title {
    font-size: 40px;
    line-height: 48px;
  }

  .product {
    padding: 60px 0;

    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
    }
  }

  .product-item {
    max-width: 100%;

    &__images {
      width: 100%;
    }

    &.product-item--list {
      display: block;
    }

  }

  .promo {
    &__clock {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__clock-item {
      margin: 20px 35px;
    }
  }

  .blog-page {
    padding: 60px 0;

    &__item-box {
      padding: 20px;
    }

    &__img,
      {
      height: 260px;
    }

    &__slider {
      img {
        height: 260px;
      }

      .slick-next {
        right: 10px;
      }

      .slick-prev {
        left: 10px;
      }
    }
  }

  .categories {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }

    &__item {
      padding: 15px 10px;
    }
  }

  .categories__info {
    padding: 120px 0 60px;
  }

  .video-fashion {
    padding: 60px 0;

    &__popup {
      height: 270px;
    }

    &__subtitle {
      padding-top: 40px;
      font-size: 18px;
    }
  }

  .partners {
    padding-top: 60px;

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
      padding-bottom: 60px;
    }

    &__item {
      margin: 10px 35px;
    }
  }

  .blog-one {
    &__text {
      padding: 20px 10px;
    }

    &__info {
      display: block;
    }

    &__info-item {
      margin-bottom: 10px;
    }

    &__left-img,
    &__right-img {
      float: initial;
      width: 100%;
    }
  }

  .blog-one {
    .comments-form {
      padding-bottom: 0;
    }
  }

  .comments-form {
    &__box-input {
      display: block;
      margin: 0;
    }

    &__text-input {
      margin-bottom: 30px;
    }
  }

  .blog-one {
    &__box {
      flex-wrap: wrap;
      padding-right: 10px;
    }

    &__tags {
      margin-bottom: 10px;
    }
  }

  .shop {
    padding: 60px 0;
  }

  .shop-content {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .product-item.product-item--list {
    .product-item__img-box {
      img {
        height: auto;
      }
    }
  }

  .footer-bottom {
    justify-content: center;

    &__copy {
      width: 100%;
      text-align: center;
    }

    &__accept-img {
      margin-left: 15px;
    }
  }
}

// 550 px;
@media (max-width: 550px) {
  .footer-top {
    &__form {
      flex-wrap: wrap;
    }

    &__form-input {
      max-width: 100%;
      margin-bottom: 10px;
    }

    &__form-btn {
      width: 100%;
      margin-left: 0;
    }
  }

  .shop-content {
    &__filter {
      display: block;
      padding: 20px 25px 20px 10px;
    }

    &__filter-buttons {
      margin-bottom: 15px;
    }
  }

  .jq-selectbox {
    &__select {
      margin-left: 0;
    }

    .jq-selectbox__select {
      margin-left: 0;
    }
  }
}

// 500px
@media (max-width: 500px) {
  .header {
    &__inner {
      padding-right: 0;
    }
  }

  .menu {
    order: 0;

    &__list {
      top: 170px;
    }
  }

  .user-nav {
    width: 100%;
    margin-top: 35px;
    justify-content: flex-end;
    padding-right: 15px;
  }

  .partners {
    &__item {
      margin: 10px 20px;
    }
  }

  .product-tabs {
    &__top-item {
      display: block;
      margin-bottom: 10px;

      +.product-tabs__top-item {
        margin-left: 0;
      }
    }
  }

  .footer-top {
    &__drop-down {
      cursor: pointer;
      pointer-events: auto;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        right: 30px;
        top: 5px;
        background-image: url('../images/icons/angle-arrow-down_icon.svg');
        background-repeat: no-repeat;
      }
    }

    &__list {
      display: none;
    }
  }
}

// 450px
@media (max-width: 450px) {
  .promo {
    &__clock {
      margin-top: 30px;
    }

    &__clock-item {
      margin: 8px;
    }

    &__link {
      margin-top: 30px;
    }
  }

  .blog-one {
    &__box {
      display: block;
    }

    &__author {
      display: block;

      &-img {
        margin-bottom: 20px;
      }
    }
  }

  .partners {
    &__item {
      margin: 10px 25px;
    }
  }

  .page-404 {
    padding: 60px 0;
  }

  #map {
    height: 250px;
  }

  .pagination {
    display: block;
    text-align: center;
    padding-bottom: 10px;

    &__list {
      justify-content: center;
    }

    &__arrows {
      display: none;
    }
  }

  .product-one {
    padding: 60px 0;

    &__price {
      margin-bottom: 5px;
      padding-left: 5px;
    }

    &__box {
      display: block;
    }

    &__item-star {
      .star {
        margin: 0;
      }
    }

    &__item-btn {
      width: 100%;
      margin: 0 auto;
    }
  }

  .product-slide {
    &__big {
      img {
        height: 400px;
      }
    }
  }

  .jq-number.product-one {
    &__item-num {
      width: 100%;
      margin-bottom: 20px;

      .jq-number {
        &__field {
          width: 100%;
        }
      }
    }
  }

  .product-filter__size {
    label {
      margin-right: -1px;
    }
  }

  .product-filter__size-label+.product-filter__size-label {
    margin-left: 0;
  }

  .comments {
    &__content-top {
      display: block;
    }

    &__content-star {
      margin-left: 0;
      margin-bottom: 20px;
    }

    &__content-date {
      margin: 10px 0;
    }
  }

  .related {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  .footer-top {
    &__nav {
      margin-top: 30px;
    }
  }
}

// 375px
@media (max-width: 375px) {
  .top-slider {
    &__title {
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__link {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }

  .info {
    &__item-title {
      font-size: 20px;
    }
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .blog-box {
    display: block;

    &__date {
      margin-top: 10px;
    }
  }

  .blog {
    &__item-imglink {
      img {
        height: 220px;
      }
    }
  }

  .modal__link {
    margin: 0 20px;
  }

  .blog-page {
    &__item-box {
      padding: 15px 8px;
    }

    &__img {
      height: 170px;
    }
  }

  .blog-page__aside {
    .filter__item {
      padding: 25px 15px;
    }
  }

  .blog-one {
    &__text {
      blockquote {
        padding: 20px 10px;
      }
    }
  }

  .comments {
    &__img {
      display: none;
    }
  }

  .comments-form {
    &__btn {
      width: 100%;
    }
  }

  .contact {
    &__info-item {
      padding-left: 45px;
      margin-top: 30px;
      ;

      &::before {
        content: '';
        box-shadow: none;
        width: 0;
        height: 0;
      }

      &::after {
        content: '';
        box-shadow: none;
        left: 5px;
      }
    }

    &__form-btn {
      width: 100%;
    }
  }

  .product-item.product-item--list {
    .product-item__btn {
      display: block;
      margin: 0 auto;
    }
  }

}