# Игнорировать файлы Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Игнорировать папки и файлы gulp
node_modules/ 
npm-debug.*
package-lock.json

# Игнорирование каталогов
dist/
app/css/*

# Игнорирование логов 
logs 
*.log 

# Игнорирование файла содержащий переменные окружения  
.env 

# Игнорирование файлов специфичных для редакторов и IDE 
.idea/
.idea/*
.webstorm/
.phpstorm/
.vscode/ 
*.sw*
*.sublime*